@page "/personas"
@rendermode InteractiveServer
@inject IRepositorioPersonas Repositorio
<h3>Personas</h3>

<EditForm Model="_persona" FormName="frmPersona" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    @* <ValidationSummary /> *@
    <div class="row align-items-center">
        <div class="col col-2">
            <label for="txtNombre" class="col-form-label">Nombre</label>
        </div>
        <div class="col col-10">
            <InputText class="form-control" id="txtNombre" @bind-Value="_persona.Nombre" />
            <ValidationMessage For="@(() => _persona.Nombre)" />
        </div>
    </div>
    <div class="row mt-3 align-items-center">
        <div class="col col-2">
            <label for="txtCorreo" class="col-form-label">Correo</label>
        </div>
        <div class="col col-10">
            <InputText class="form-control" id="txtCorreo" @bind-Value="_persona.Correo" />
            <ValidationMessage For="@(() => _persona.Correo)" />
        </div>
    </div>
    <div class="row mt-3 align-items-center">
        <div class="col col-2">
            <label for="txtTelefono" class="col-form-label">Teléfono</label>
        </div>
        <div class="col col-10">
            <InputText class="form-control" id="txtTelefono" @bind-Value="_persona.Telefono" />
            <ValidationMessage For="@(() => _persona.Telefono)" />
        </div>
    </div>
    <div class="row mt-3 align-items-center">
        <div class="col col-2">
            <label class="col-form-label">Género</label>
        </div>
        <div class="col col-10">
            <InputRadioGroup TValue="string" @bind-Value="_persona.Genero">
                <div class="form-check form-check-inline">
                    <InputRadio TValue="string" Value="@("Femenino")" class="form-check-input" id="rFemenino" />
                    <label class="form-check-label" for="rFemenino">Femenino</label>
                </div>
                <div class="form-check form-check-inline">
                    <InputRadio TValue="string" Value="@("Masculino")" class="form-check-input" id="rMasculino" />
                    <label class="form-check-label" for="rMasculino">Masculino</label>
                </div>
                <div class="form-check form-check-inline">
                    <InputRadio TValue="string" Value="@("Otro")" class="form-check-input" id="rOtro" />
                    <label class="form-check-label" for="rOtro">Otro</label>
                </div>
            </InputRadioGroup>
            <ValidationMessage For="@(() => _persona.Genero)" />
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
    </div>
</EditForm>

<QuickGrid Items="_personas.AsQueryable()" Class="table table-striped" Pagination="_paginationState">
    <PropertyColumn Property="@(p => p.Nombre)" Sortable="true" />
    <PropertyColumn Property="@(p => p.Correo)" />
    <PropertyColumn Property="@(p => p.Telefono)" />
    <PropertyColumn Property="@(p => p.Genero)" Sortable="true" />
</QuickGrid>
<Paginator State="_paginationState" />

@* <table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Género</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var persona in _personas)
        {
            <tr>
                <td>@persona.Nombre</td>
                <td>@persona.Correo</td>
                <td>@persona.Telefono</td>
                <td>@persona.Genero</td>
            </tr>
        }
    </tbody>
</table> *@

@code {
    private List<Persona> _personas = new List<Persona>();
    private Persona _persona = new();
    private PaginationState _paginationState = new PaginationState { ItemsPerPage = 2 };

    // Simulamos la carga de datos desde una fuente externa
    protected override void OnInitialized()
    {
        // _personas = new List<Persona>
        // {
        //     new Persona { Nombre = "Juan Pérez", Correo="juan@ucol.mx", Telefono="111111111", Genero="Masculino" },
        //     new Persona { Nombre = "María Gómez", Correo="maria@ucol.mx", Telefono="222222222", Genero="Femenino" },
        //     new Persona { Nombre = "Carlos Sánchez", Correo="carlos@ucol.mx", Telefono="333333333", Genero="Masculino" },
        //     new Persona { Nombre = "Ana Martínez", Correo="ana@ucol.mx", Telefono="444444444", Genero="Femenino" },
        //     new Persona { Nombre = "Luis Rodríguez", Correo="luis@ucol.mx", Telefono="555555555", Genero="Masculino" },
        //     new Persona { Nombre = "Sofía López", Correo="sofia@ucol.mx", Telefono="666666666", Genero="Femenino" }
        // };

    }

    protected override async Task OnInitializedAsync()
    {
        _personas = await Repositorio.ObtenerPersonasAsync();
    }




    private void Guardar(EditContext args)
    {
        _personas.Add(new Persona
        {
            Nombre = _persona.Nombre,
            Correo = _persona.Correo,
            Telefono = _persona.Telefono,
            Genero = _persona.Genero
        });
        _persona = new Persona();
    }
}
