@page "/personas"
@rendermode InteractiveServer
@inject IRepositorioPersonas Repositorio
@inject NavigationManager Navigation
<PageTitle>Personas</PageTitle>
<h3>Listado de personas</h3>
<button class="btn btn-primary mb-3" @onclick="@(() => Navigation.NavigateTo("/personas/nueva"))">Nueva persona</button>

@if (_personas == null)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
}
else if (_personas.Count == 0)
{
    <div class="alert alert-info">
        <h2>No se encuentran registradas personas</h2>
    </div>
}
else
{
    <QuickGrid Items="_personas.AsQueryable()" Class="table table-striped" Pagination="_paginationState">
        <PropertyColumn Property="@(p => p.Nombre)" Sortable="true" />
        <PropertyColumn Property="@(p => p.Correo)" />
        <PropertyColumn Property="@(p => p.Telefono)" />
        <PropertyColumn Property="@(p => p.Genero)" Sortable="true" />
        <TemplateColumn Title="Actions">
            <button class="btn btn-outline-secondary" @onclick="@(() => Eliminar(context))">Eliminar</button>
            <button class="btn btn-outline-primary" @onclick="@(() => Editar(context))">Editar</button>
        </TemplateColumn>
    </QuickGrid>
    <Paginator State="_paginationState" />
}

@code {
    private List<Persona>? _personas;
    private Persona? _persona;
    private PaginationState _paginationState = new PaginationState { ItemsPerPage = 2 };

    // Simulamos la carga de datos desde una fuente externa
    protected override void OnInitialized()
    {
        // _personas = new List<Persona>
        // {
        //     new Persona { Nombre = "Juan Pérez", Correo="juan@ucol.mx", Telefono="111111111", Genero="Masculino" },
        //     new Persona { Nombre = "María Gómez", Correo="maria@ucol.mx", Telefono="222222222", Genero="Femenino" },
        //     new Persona { Nombre = "Carlos Sánchez", Correo="carlos@ucol.mx", Telefono="333333333", Genero="Masculino" },
        //     new Persona { Nombre = "Ana Martínez", Correo="ana@ucol.mx", Telefono="444444444", Genero="Femenino" },
        //     new Persona { Nombre = "Luis Rodríguez", Correo="luis@ucol.mx", Telefono="555555555", Genero="Masculino" },
        //     new Persona { Nombre = "Sofía López", Correo="sofia@ucol.mx", Telefono="666666666", Genero="Femenino" }
        // };

    }

    protected override async Task OnInitializedAsync()
    {
        _personas = await Repositorio.ObtenerPersonas();
    }

    private void Editar(Persona persona)
    {
        Navigation.NavigateTo($"/personas/editar/{persona.Id}");
    }

    private async Task Eliminar(Persona persona)
    {
        await Repositorio.EliminarPersona(persona.Id);
    }
}
